* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--lightest-color);
}

:root {
    --lightest-color: #BBE1C3;
    --light-color: #a7cbdb;
    --mid-color: #869d7a;
    --dark-color: #91785D;
    --darkest-color: #8B5D33;
}

.box {
    max-width: 600px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: auto;
}


.header-box {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    background-color: var(--mid-color);
}

.header {
    margin: auto;
    background-color: inherit;
}

.controls {
    display: flex;
    justify-items: space-evenly;
    background-color: white;
    margin: 1rem;
    border-radius: 0.3rem;
}


.control {
    margin: auto;
    border: 2rem;
    display: inline-flex;
    padding: 2rem;
    color: var(--dark-color);
    background-color: transparent;
}

.control:active {
    opacity: 0.9;
    transform: scale(1.3)
}

.fa-solid {
    background-color: transparent;
}

.selections {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    color: var(--darkest-color)
}

.selection {
    margin: auto;
    padding: 1rem;
}

.scores-header {
    display: flex;
    justify-content: center;
}

.scores-header-child {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--darkest-color);
    font-weight: 600;
}

.score-icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1rem;
    background-color: var(--light-color);
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.score {
    margin: auto;
    font-size: 2rem;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.big-icon {
    animation-name: icon;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes icon {
    from {opacity: 50%;}
    to {opacity: 100%;}
}

#computer-score,
#user-score {
    font-size: 5rem;
}

#vs {

    font-size: 3rem;
}

.output-box {
    display: flex;
    padding: 2rem;
    background-color: var(--mid-color);
    margin: 2rem;
    border-radius: 1rem;
}

#output {
    animation: clicked;
    animation-duration: 0.2s;
    margin: auto;
    font-size: 2rem;
    background-color: inherit;
    color: white;
}



.button {
  background-color: var(--dark-color);
  border-radius: 10rem;
  box-shadow:var(--darkest-color) 0 -25px 18px -14px inset;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  margin: auto;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  max-width: 6rem;
  border: 0;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: --darkest-color 0 -25px 18px -14px inset;
  transform: scale(1.05);
}